body{
    font-family: sans-serif;
    color: white;

}
nav, footer{
    background-color: #343A40;
    padding: 1em 3em 1em;
}
a{
    color: lightgray;
    text-decoration: none;
}
a:hover{
    color: white;
    font-weight: bold;
}

.bigPhoto{
    width: 100%;
    height: 20em;
    object-fit: cover;
    -webkit-filter: grayscale(70%);
    position: relative;
}
.overtext{
    position: absolute;
    left: 0;
    bottom: 60%;
    line-height: 3em;
}
section{
    padding: 2em;
    margin: 0;
    color: gray;
}
.centered{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /*padding: 1em;*/
}
.centered>*{
    text-align: center;
    align-self: center;
}
.smallPhoto{
    border-radius: 50%;
    height: 20em;
    object-fit: cover;
}
.pad{
    padding: 0 1em 0;
}
.text{
    padding: 0 3em 0;
    text-align: left;
}
h3{
    text-align: left;
}
.smallPhoto{
    border: 0.5em solid white;
}
.hidden{
    display: none;
    align-self: center;
}
